:root {
  --magenta: rgb(210, 51, 210);
  --cyan: rgb(98, 230, 230);
  --yellow: rgb(237, 237, 32);
  --font-color: rgb(33, 33, 33);
  --font-color-light: rgb(155, 155, 155);
  --background: rgb(255, 255, 255);
  --background-light: rgb(230, 230, 230);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(231, 231, 231);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

button,
select,
input {
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  background: var(--background-light);
}

span[role="image"] {
  color: transparent;
  text-shadow: 0 0 0 black;
}

.App.dark {
  --font-color: rgb(255, 255, 255);
  --background: rgb(50, 50, 50);
  --background-light: rgb(101, 101, 101);
  transition: all 0.3s;
}

.App {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 700px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header h2 {
  padding: 1rem 0;
}

header button {
  background: var(--yellow);
}

.Filter {
  display: flex;
  justify-content: space-between;
}

.Filter select,
.Filter input {
  width: 45%;
  margin: 1rem 0;
  background: var(--cyan);
}

.Items {
  list-style: none;
}

.Items li {
  margin: 0.5rem 0;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 160px 100px;
  column-gap: 1rem;
  align-items: center;
  border-radius: 4px;
}

.Items li.in-cart {
  background: var(--background-light);
}

.Items li.in-cart span {
  text-decoration: line-through;
}

.Items button.add {
  background-color: var(--yellow);
}

.Items button.remove {
  background-color: var(--magenta);
  color: white;
}

.Items li .category {
  justify-self: end;
  color: var(--font-color-light);
  font-size: 0.8em;
}

.NewItem {
  border-bottom: 2px solid var(--background-light);
  border-top: 2px solid var(--background-light);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.NewItem button {
  background: var(--yellow);
}

.NewItem label {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  flex: 1;
}
